/* footerType */
#footerType {
    background-color: #e2e2e2;
}
.footer_inner {
}
.footer_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.footer_menu > div {
    width: 20%;
}
.footer_menu h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer_menu li a {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    display: block;
}
.footer_right {
    border-top: 1px solid #b3b3b3;
    text-align: center;
    padding-top: 40px;
    color: #666;
    line-height: 1.5;
}
